.explore-container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0px 297.5px 30px 297.5;

  &:nth-child(3) {
    margin: 15px 15px 0px 0px;
  }

  .explore-mid-container {
    display: flex;
    flex-wrap: wrap;
    width: 975px;
    margin: 0px 18.5938rem;
    margin: 25px 0px 0px 0px;
    justify-content: center;
    align-content: flex-start;
    padding: 24px 20px 0px 20px;
  }

  .explore-post {
    width: 19.4375rem;
    height: 19.9988rem;
    position: relative;
    overflow: hidden;
  }

  .explore-post-image {
    width: 100%;
    height: 100%;
    &:hover {
      filter: brightness(30%); /* Darkens image */
      transition: filter 0.3s ease;
    }
  }

  .explore-post-overlay {
    position: absolute;
    inset: 0; /* covers full area */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0; /* hidden by default */
    transition: opacity 0.3s ease;
    pointer-events: none; /* clicks still go to Link */
  }

  .explore-post:hover .explore-post-overlay {
    opacity: 1;
  }
}
