.main-layout {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
}

.feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 630px;
  margin-top: 8.8125rem;
}

.sidebar-container {
  width: 250px;
  height: fit-content; // Ensure it's not overflowing
}
