.feed {
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;

 

  .post {
    display: grid;
    background-color: #fff;
    
  
    .post-header {
      display: flex;
     
      align-items: start;
   
      
      ;

      img{
        grid-area: a;
        width: 35px;
        height: 35px;
        border-radius: 50%;

      }
      .post-user {

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr ;
      grid-template-areas: "a b c"
                          "d f g ";

      .post-user-name {
      
      grid-area: a;

      }

      .post-created-at {
      grid-area: b;
      }
   
      .post-location {
      
      grid-area: d;
      }
  

      .post-options {
      
      grid-area: c;
      background-color: #fff;
      border-style: none;
      width: 35px;
      height: 35px;
      justify-self: end;
      align-self: start;
      align-items: center;
      justify-content: center;
      
     
     

      }

        

        
      
      }

    }

  }






    .post-image {
      img {
        width: 100%;
        display: block;
      }
    }

    .post-actions {
      
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
      grid-template-areas: "a b c d e f g h ";
      


      .bookmark-button {

        grid-area: h;
        margin-left: 20em;
        
      }

      button {
        background-color: #fff;
        border: none;
        width: 35px;
        height: 35px;
        justify-self: center; 
        align-self: center; 
        
 
      }

      
    }


    .post-comment {

    display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
      grid-template-areas: "a b c d e f g h ";
      

    }

    .comment-input {

      grid-area: a;
         flex: 1;
    border: none;
    outline: none;
    font-size: 0.9em;
    color: #333;

    &::placeholder {
      color: #aaa;
    }
    }

    .emoji-button {

      grid-area: h;
      width: 25px;
      height: 25px;
      background: transparent;
        
      border: none;
          margin-left: 3.5em;
    }



}