.side-bar {
  .sidebar-side-items {
    width: 100%;
  }

  .sidebar-item-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 1;
    height: 1.5rem;
    width: fit-content;
    overflow-x: hidden;
    padding-left: 1rem;
    cursor: pointer;
  }

  font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif";
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-right: 0.0625rem solid #dbdbdb;
  padding: 0.5rem 0.75rem 1.25rem 0.75rem;
  line-height: 1.125rem;
  text-size-adjust: 100%;
  width: var(--nav-medium-width);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  width: var(--nav-wide-width);

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  a {
    text-decoration: none;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 1rem;
  }

  .sidebar-item {
    margin: 0.25rem 0rem;
    padding: 0.625rem;
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    cursor: pointer;

    &.active {
      font-weight: 700;
      & svg {
        fill: black;
      }
    }

    &:hover {
      background-color: rgb(0, 0, 0, 0.05);
      border-radius: 0.5rem;
    }
    .injected-svg {
      height: 1.5625rem;
      width: 1.5625rem;
    }
  }

  .sidebar-main-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex: 1;
  }

  .sidebar-profile-avatar {
    top: 50%;
    border-top-width: 2px;
    border-bottom-color: rgb(0, 0, 0);
    list-style: none;
    overflow-y: visible;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow-x: visible;
    padding-bottom: 0;
    padding-right: 0;
    background-color: transparent;
    flex-direction: column;
    display: flex;
    border-bottom-left-radius: 0;
    align-items: stretch;

    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .sidebar-item svg {
    fill: none;
    transition: fill 0.2s ease;
  }
}

// @media (min-width: 1264px) and (max-width: 1919px) {
//   .main {
//     width: calc(100% - var(--nav-medium-width));
//     margin-right: var(--nav-medium-width);
//   }
// }

.main-container main {
  width: 100%;
  margin-left: var(--nav-medium-width); // Offset for sidebar
  padding: 1rem;
}

@media (min-width: 1264px) and (max-width: 1919px) {
  .side-bar {
    width: var(--nav-medium-width); // 260px
  }
  .main-container main {
    width: calc(100% - var(--nav-medium-width));
    margin-left: var(--nav-medium-width);
  }
}

@media (max-width: 1263px) {
  .side-bar {
    width: var(--nav-narrow-width);
    & .sidebar-item-name {
      display: none;
    }
  }
  .main-container main {
    width: calc(100% - var(--nav-narrow-width));
    margin-left: var(--nav-narrow-width);
  }
}

/* Large screens (above 1920px) */
@media (min-width: 1920px) {
  .side-bar {
    width: var(--nav-wide-width); /* Revert to full width */
  }
  .main-container main {
    width: calc(100% - var(--nav-wide-width));
    margin-left: var(--nav-wide-width);
  }
}
