body,
html {
  margin: 0;
  padding: 0;
 
  background-color: rgb(255, 255, 255);
}

.main-container {
  display: flex;
  height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}
