/* Header */
.create-post-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #dbdbdb;
    font-size: 1rem;
    font-weight: 600;
}
/* Content */
.create-post-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  color: #be2323;
}

.drag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;          /* space between icon, text, button */
  font-size: large;
}

.drag-icon {
  width: 96px;
  height: 77px;
}

.drag-container p {
  margin: 0;
  color: #737373;
}