.like-by {
  font-weight: 600;
  color: #262626;
  height: 0.5rem;

  strong {
    font-weight: 600;
    margin: 0 3px;
  }

  &.animate {
    animation: popIn 0.4s ease;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.in-post-like-this {
  font-weight: 700;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
