.like-by {
  font-weight: 600;
  color: #262626;

  strong {
    font-weight: 600;
    margin: 0 3px;
  }
}

.in-post-like-this {
  font-weight: 700;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
