// Setup
@import "setup/variables";
@import "setup/functions";
@import "setup/mixins";
@import "setup/typography";

// Basics
@import "basics/helpers";
@import "basics/layout";
@import "basics/base";
@import "basics/links";
@import "basics/forms";


// pages
@import "RootCmp";

@import "pages/HomePage";
@import "pages/Explore";
@import "pages/Reels";
@import "pages/Messages";


// Components
@import "cmps/SideBar";
@import "cmps/UserMsg";
@import "cmps/PostsIndex.scss"
